*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#0d0d0d;
    color:white;
    text-align:center;
}

/* HEADER */
header{
    background: linear-gradient(to right,#b30000,#001f66);
    padding:70px 20px;
    animation: slideDown 1.2s ease;
}

@keyframes slideDown{
    from{
        transform: translateY(-100px);
        opacity:0;
    }
    to{
        transform: translateY(0);
        opacity:1;
    }
}

header h1{
    font-size:42px;
    letter-spacing:2px;
}

header p{
    margin-top:15px;
    font-size:18px;
    color:#ddd;
}

/* BUTTON */
.btn{
    display:inline-block;
    margin-top:20px;
    padding:10px 25px;
    background:#0066ff;
    color:white;
    text-decoration:none;
    border-radius:25px;
    transition:0.4s;
}

.btn:hover{
    background:#ff0000;
    box-shadow:0 0 15px red;
    transform:scale(1.1);
}

/* SECTIONS */
section{
    padding:60px 20px;
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(40px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

.about{
    background:#141414;
}

.powers{
    background:#1c1c1c;
}

.power-box{
    display:inline-block;
    background:#b30000;
    padding:15px 25px;
    margin:10px;
    border-radius:10px;
    transition:0.4s;
}

.power-box:hover{
    background:#0066ff;
    transform:scale(1.15) rotate(3deg);
    box-shadow:0 0 15px #0066ff;
}

.movies{
    background:#141414;
}

.movie-card{
    background:#262626;
    width:260px;
    margin:15px auto;
    padding:20px;
    border-radius:10px;
    transition:0.4s;
}

.movie-card:hover{
    background:#b30000;
    transform:scale(1.08);
    box-shadow:0 0 20px red;
}

.villains{
    background:#1c1c1c;
}

footer{
    background:black;
    padding:15px;
    font-size:14px;
    color:#aaa;
}
